.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &_results{
        width: 50vw;
        display: flex;
        flex-direction: column;
        &_title{
            margin: 2%;
            background-color: rgba($color: #bcf3ea, $alpha: 0.5);
           }
        &_list{
            display: flex;
            flex-direction: column;
            margin: 5%;
            background-color: rgba($color: #e7bcf3, $alpha: 0.5);
           }
    }
    &_favourites{
        width: 50vw;
        display: flex;
        flex-direction: column;
        &_title{
            margin: 2%;
            background-color: rgba($color: #bcf3ea, $alpha: 0.5);
           }
        &_list{
            display: flex;
            flex-direction: column;
            margin: 5%;
            background-color: rgba($color: #e7bcf3, $alpha: 0.5);
           }
    }
}

.serieCard{
    margin: 5%;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    background-color: white;
}
header{
    padding: 5%;
    background-color: antiquewhite;
    width: 100vw;
}

form{
    display: flex;
    padding: 2%;
    justify-content: center;
    gap: 2%;
    background-color: #e7bcf3;
}

button{
    color: white;
    background-color: cadetblue;
    padding: 1%;
    border-radius: 20px;
}

input{
    background-color: lavender;
    padding: 1%;
}