@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}